*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}


body{
    background-color: #000;
    height: 10px;
}
.inteface{
    max-width: 1280px;
    margin: 0 auto;
}
/* estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .inteface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 header a{
     color: darkgray;
     text-decoration: none;
     display: inline-block;
     transition: .2s ;
 }

header a:hover{
    color: white;
    transform: scale(1.1);
}

 header nav ul{
     list-style-type: none;
 }
header nav li{
    display: inline-block;
    padding: 0 40px;
}
header .btn-contato button {
    padding: 10px  40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #bd9882;
    cursor: pointer;
}


